@charset "UTF-8";

.form-edit {
	max-width: 700px;
	margin: auto;
}

.form-edit p {
	background-color: rgb(255, 255, 255);
}


th{
	width: 15%;
}

td:has(input[type=color])  {
	width: 20%;
}

input[type=radio] {
    display: none;
}

#icon-select label {
	cursor: pointer;
}