<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<nav layout:fragment="header"
		class="navbar navbar-fixed-top navbar-expand-md"> <!-- navbar-dark bg-primary"-->
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand position-relative" th:href="@{/todo/list}">作業一覧
						<span class=" position-absolute top-25 start-100 translate-middle
						badge rounded-pill bg-danger" th:text="${unfinishedTodoCount}"></span>
				</a>
					<a class="navbar-brand" th:href="@{/todo/create}">作業登録</a>
					<a class="navbar-brand" th:href="@{/todo/calendar}">カレンダー</a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
			aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse justify-content-between row" id="navbarSupportedContent">
				<div class="col">
					<!--p-2 text-bg-danger border border-light rounded-circle -->

					<a class="navbar-brand" th:href="@{/tag/list}">タグ一覧</a>
					<a class="navbar-brand" th:href="@{/setting}">画面設定</a>
				</div>
				<div class="d-flex justify-content-end col">
					<span class="navbar-brand" th:text="|${#authentication.principal.userName}さん|"></span>
					<!-- <a class="navbar-brand" th:href="@{#}">ユーザー管理</a> -->
					<form method="post" th:action="@{/logout}">
						<button class="logout btn btn-link navbar-brand" type="submit">
							ログアウト
						</button>
					</form>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>