<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<nav layout:fragment="header"
		class="navbar navbar-fixed-top navbar-expand-sm"> <!-- navbar-dark bg-primary"-->
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/todo/list}">作業一覧</a>
				<a class="navbar-brand" th:href="@{/todo/create}">作業登録</a>
				<a class="navbar-brand" th:href="@{/todo/calendar}">カレンダー</a>
				<a class="navbar-brand" th:href="@{/setting}">画面設定</a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
			aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
			<div class="d-flex collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				<span class="navbar-brand" th:text="|${#authentication.principal.userName}さん|"></span>
				<a class="navbar-brand" th:href="@{#}">ユーザー管理</a>
				<form method="post" th:action="@{/logout}">
					<button class="btn btn-link navbar-brand" type="submit">
						ログアウト
					</button>
				</form>
			</div>
		</div>
	</nav>
</body>
</html>