<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- 共通CSS読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/layout/layout.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css}">
	<!-- 共通JS読込 -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous" defer></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<script th:src="@{/js/layout/layout.js}" defer></script>
	<!-- settingMap,unfinishedTodoCountをJSに渡す -->
	<script th:inline="javascript">
		var settingMap = /*[[${settingMap}]]*/"settingMap";	
		var unfinishedTodoCount = /*[[${unfinishedTodoCount}]]*/"unfinishedTodoCount";			
	</script>
	<title></title>
</head>
<body>
	<!-- ヘッダー -->
	<nav layout:replace="~{layout/header::header}"></nav>
	<!-- コンテンツ -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 offset-sm-2 main">
				<div layout:fragment="content"></div>
			</div>
		</div>
	</div>
</body>
</html>