<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>タグ新規作成</title>
	<!-- 個別JS読込 -->
	<script th:src="@{/js/tag/create.js}" defer></script>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/tag/create.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom row justify-content-between">
			<h1 class="h2 mx-2 text-white">タグ新規作成</h1>			
		</div>
		<form class="form-create" method="post" th:action="@{/tag/create}" th:object="${tagForm}">
			<p th:if="${#fields.hasErrors('tagName')}" th:errors="*{tagName}" class="text-center text-danger my-0"></p>
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th th:text="#{tagName}"></thcolspan="1">
					<td colspan="3">
						<input type="text" class="form-control" th:field="*{tagName}">
					</td>
				</tr>

				<tr>
					<th  th:text="アイコン"></th>
					<td id="icon-display" class="sticky_cross">
						<span th:text="（以下から選択）"></span>
						<i></i>
					</td>
					<th  th:text="カラー"></th>
					<td>
						<input type="color" class="form-control form-control-color" th:field="*{tagColor}" oninput="changeTagColor()">
					</td>
				</tr>
				<tr>
					<th ></th>
					<td colspan="3" id="icon-select">
						<label class="form-check-label me-1">
							<input type="radio" class="form-check-input mx-3" th:value="no-icon" th:field="*{tagIcon}">
							なし
						</label>
						<div th:each="icon: ${iconList}" style="display: inline;" class="mx-1">
							<label class="form-check-label my-1">								
								<input type="radio" class="form-check-input" th:value="${icon}" th:field="*{tagIcon}">	
								<i class="fa-xl" th:classappend="${icon}"></i>
							</label>
						</div>
<!--
						<label class="form-check-label">
							<input type="radio" class="form-check-input ms-1 me-3" th:value="smile" th:field="*{tagIcon}">						
							<i class="fa-regular fa-face-smile fa-xl"></i>
						</label>
						<label class="form-check-label">
							<input type="radio" class="form-check-input mx-3" th:value="yen" th:field="*{tagIcon}">
							<i class="fa-solid fa-yen-sign fa-xl"></i>
						</label>
-->
					</td>
				</tr>
				<tr>
					<td colspan="4" class="text-center">
						<a class="btn btn-secondary rounded-pill col-2" th:href="@{/tag/list}">戻る</a>
						<input type="submit" value="登録" class="btn btn-primary rounded-pill col-2">
					</td>
				</tr>				
				
			</table>
		</form>
		
	</div>

</body>
</html>