<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>タグ新規作成</title>
<!-- 個別CSS読込 -->
<link rel="stylesheet" th:href="@{/css/tag/create.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom row justify-content-between">
			<h1 class="h2 mx-2 text-white">タグ新規作成</h1>			
		</div>
		<form class="form-create" method="post" th:action="@{/tag/create}">
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th th:text="タグネーム"></th>
					<td>
						<input type="text" class="form-control">
					</td>
				</tr>
				<tr>
					<th th:text="カラー"></th>
					<td>
						<input type="color" class="form-control form-control-color">
					</td>
				</tr>
				<tr>
					<th th:text="アイコン"></th>
					<td></td>
				</tr>
				<tr>
					<th></th>
					<td>
						<input type="radio" class="form-check-input mx-3" id="no-icon">
						<label class="form-check-label" for="no-icon">なし</label>
						<input type="radio" class="form-check-input ms-1 me-3" id="smile">
						<label class="form-check-label" for="smile">
							<i class="fa-regular fa-face-smile fa-xl"></i>
						</label>
						<input type="radio" class="form-check-input mx-3" id="yen">
						<label class="form-check-label" for="yen">
							<i class="fa-solid fa-yen-sign fa-xl"></i>
						</label>
						
						
					</td>
					
				</tr>
				
				
			</table>
		</form>
		
	</div>

</body>
</html>