<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>新規作成</title>
<!-- 個別CSS読込 -->
<link rel="stylesheet" th:href="@{/css/todo/create.css}">
</head>
<body>
	<div layout:fragment="content">		
		<div class="header border-bottom row justify-content-between mx-1">
			<h1 class="h2">作業登録</h1>
		</div>
		<form class="form-create" method="post" th:action="@{/todo/create}" th:object="${todoForm}">
			<p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="text-center text-danger"></p>
			<p th:if="${#fields.hasErrors('expireDate')}" th:errors="*{expireDate}" class="text-center text-danger"></p>
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th th:text="#{itemName}"></th>
					<td>
						<input type="text" class="form-control" th:field="*{itemName}" th:errorclass="is-invalid">
					</td>
				</tr>
				<tr>
					<th th:text="#{expireDate}"></th>
					<td>
						<input type="date" class="form-control" th:field="*{expireDate}" placeholder="yyyy-MM-dd" th:errorclass="is-invalid">
					</td>
				</tr>			
				<tr>
					<th></th>					
					<td>
						<input type="checkbox" class="form-check-input">
						<label class="form-check-label" th:text="完了"></label>
					</td>					
				</tr>
			</table>		
			<div class="text-center">
				<a class="btn btn-secondary" th:href="@{/todo/list}">戻る</a>
				<input type="submit" value="登録" class="btn btn-primary">
			</div>
		</form>
	</div>
</body>
</html>