<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>作業一覧</title>
<!-- 個別CSS読込 -->
<link rel="stylesheet" th:href="@{/css/todo/list.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom row justify-content-between mx-1">
			<h1 class="h2">作業一覧</h1>
		</div>
		<div th:if="${#lists.isEmpty(todoList)}">
			<h3 class="text-info text-center">“作業登録”からタスクを登録してください</h3>
		</div>
		<div th:if="not ${#lists.isEmpty(todoList)}">
			<table class="table table-striped table-hover">
				<thead class="thead-light">
					<tr>
						<th>項目</th>
						<th>期限日</th>
						<th>完了日</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${todoList}">
						<td th:text="${item.itemName}"></td>
						<td th:text="${#dates.format(item.expireDate,'YYYY-MM-dd')}"></td>
						<td th:text="${item.finishedDate == null}? '未' : ${#dates.format(item.finishedDate,'YYYY-MM-dd')}"></td>
						<td class="btn-wrapper row">							
							<a class="btn btn-sm rounded-pill col-5 mx-1" th:href="@{'/todo/finish/' + ${item.id}}"
							th:text="${item.finishedDate == null}? '完了する' : '未完了にする'" th:classappend="${item.finishedDate == null}? 'btn-outline-primary' : 'btn-outline-danger' "></a>
							<a class="btn btn-info btn-sm rounded-pill col-5 mx-1" th:href="@{'/todo/detail/' + ${item.id}}">詳細</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
</body>
</html>