@charset "UTF-8";

.sidebar {
	position: fixed;
	display: block;
	top: 58px;
	bottom: 0;
	left: 0;
	width: 0;
}

.main {
	/*position: fixed; */
	display: block;
	top: 58px;
	bottom: 0;
	padding-left: 0px;
	padding-right: 0px;
	overflow-y: auto;
	height: calc(100vh - 58px);
	margin-left: 0;
	
	background-image: url('/img/img2.jpg');
	background-size: cover;
	
}

.header {
	padding-top: 1rem !important;
	padding-bottom: .5rem !important;
	margin-bottom: 1rem !important;	
	background-color:gray;
	opacity: 0.95;	
}