@charset "UTF-8";

.header {
	padding-top: 1rem !important;
	padding-bottom: .5rem !important;
	margin-bottom: 1rem !important;	
}

.container {
    max-width: 1000px;
}

.fc {
    background-color: rgba(255,255,255,0.95) !important;
}

.fc tbody tr {
    height: 100px;
}

.fc a {
	color: black;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion {
	text-decoration: none;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}

.modal {
    position: absolute;
    background-color:white;
    width: 50%;
    height: 50%;
    border-radius: 10px;    
    opacity: 1;
    overflow-y: auto;

    top:  0;                 
    bottom:  0;              
    left:  0; 
    right:  0; 
    margin: auto;
     display: none;
}

.fc-toolbar-chunk p {
	display: inline;
}

.fc-toolbar-chunk p span:nth-child(1) {
    color:#0d95f0;
}

.fc-toolbar-chunk p span:nth-child(2) {
    color:#fd7e14;
}

.fc-toolbar-chunk p span:nth-child(3) {
    color:#dc3545;
}

.fc-more-popover-misc {
	display: none;
}

.fc-event{
    cursor: pointer;
}

#modal-close, #todo-transition-btn {
	width: 150px;
}
.fc-event span, .fc-event .fc-event-main {
	display: inline;
}



