@charset "UTF-8";

.header {
	padding-top: 1rem !important;
	padding-bottom: .5rem !important;
	margin-bottom: 1rem !important;	
	background-color:gray;
	opacity: 0.95;	
}

h3 {
	max-width: 1000px;
	margin: 0 auto;
}

#todo-table-all, #todo-table-unfinished {
	max-width: 1000px;
	margin: 0 auto;
	display: none;
}

.dt-container {
	background-color: white;
}

.dt-search {
    display: none;
}

th:nth-of-type(1) {
	pointer-events: none;
	cursor: default !important;
}

.dt-orderable-asc:nth-of-type(1) .dt-column-order {
	display: none;
}

.dt-layout-start, .dt-layout-end {
	padding: 0.5rem;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}

.msg-modal {
    position: absolute;
    background-color: white;
    width: 270px; 
    height: 180px;
    border-radius: 10px;    
    opacity: 1;
    top:  0;                 
    bottom:  0;              
    left:  0; 
    right:  0; 
    margin: auto;
}
