<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<title>画面設定</title>
	<!-- 個別JS読込 -->
	<script th:src="@{/js/setting/setting.js}" defer></script>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/setting/setting.css}">
	<!-- imgList,flashMsgをJSに渡す -->
	<script th:inline="javascript">
		var imgList = /*[[${imgList}]]*/"imgList";
		var flashMsg = /*[[${flashMsg}]]*/"flashMsg";
	</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom row justify-content-between">
			<h1 class="h2 mx-2 text-white">設定変更</h1>
		</div>
		
		<div class="modal-wrapper" id="msg-modal">
			<div class="msg-modal modal container-fluid">
				<div class="modal-header">
					<button type="button" class="btn-close"></button>
				</div>
				<div class="modal-body">
				<p class="text-center" th:text="${flashMsg}"></p>
				</div>
				<div class="row justify-content-center">
					<button type="button" class="btn btn-primary rounded-pill col-4" id="close-modal">OK</button>
				</div>
			</div>
		</div>
		
		<form class="form-setting" method="post" th:action="@{/setting}" th:object="${settingForm}">
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th>ヘッダーの背景色</th>
					<td class="table-active">
						<input type="color" class="form-control form-control-color"
						th:field="*{headerBgColor}" oninput="changeHeaderBgColor()">
					</td>
				
					<th>ヘッダーの文字色</th>
					<td class="table-active">
						<input type="color" class="form-control form-control-color"
						th:field="*{headerFontColor}" oninput="changeHeaderTextColor()">
					</td>
				</tr>
				<tr>
					<th colspan="1">背景画像</th>
					<td colspan="3">
						<select class="form-control" th:field="*{backgroundImg}" onchange="changeBackgroundImg()">
							<option th:text="なし" th:value="''"></option>
							<option th:text="ランダム" th:value="'random'"></option>
							<div th:each="img,iterStat: ${imgList}">
								<option th:text="${iterStat.count}" th:value="${img}"></option>
							</div>
						</select>
					</td>
				</tr>
				<tr>
					<th colspan="1">フォント変更</th>
					<td colspan="3">
						<div class="form-check-inline" id="fontFamily">
							<input type="radio" class="form-check-input ms-1" th:field="*{fontFamily}" th:value="'system-ui'" onchange="changeFontFamily()">
							<label class="form-check-label" th:text="ゴシック体"  style="font-family: system-ui;"></label>
							<input type="radio" class="form-check-input ms-3" th:field="*{fontFamily}" th:value="'Yu Mincho'" onchange="changeFontFamily()">
							<label class="form-check-label" th:text="明朝体" style="font-family: 'Yu Mincho';"></label>
							<input type="radio" class="form-check-input ms-3" th:field="*{fontFamily}" th:value="'HG丸ｺﾞｼｯｸM-PRO'" onchange="changeFontFamily()">
							<label class="form-check-label" th:text="丸文字" style="font-family: 'HG丸ｺﾞｼｯｸM-PRO';"></label>
						</div>
					</td>
				</tr>
				<tr>
					<th colspan="1">文字サイズ</th>
					<td colspan="3">
						<div class="form-check-inline" id="fontSize">
							<input type="radio" class="form-check-input ms-1" th:field="*{fontSize}" th:value="'1'" onchange="changeFontSize()">
							<label class="form-check-label" th:text="小"></label>
							<input type="radio" class="form-check-input ms-3" th:field="*{fontSize}" th:value="'1.2'" onchange="changeFontSize()">
							<label class="form-check-label" th:text="中"></label>
							<input type="radio" class="form-check-input ms-3" th:field="*{fontSize}" th:value="'1.4'" onchange="changeFontSize()">
							<label class="form-check-label" th:text="大"></label>
						</div>
					</td>
				</tr>
				<tr>
					<th colspan="1">カレンダー表示</th>
					<td colspan="3">
						<div class="form-check-inline" id="firstDayOfWeek">
							<input type="radio" class="form-check-input ms-1" th:field="*{firstDayOfWeek}" th:value="'0'">
							<label class="form-check-label" th:text="日曜始まり"></label>
							<input type="radio" class="form-check-input ms-3" th:field="*{firstDayOfWeek}" th:value="'1'">
							<label class="form-check-label" th:text="月曜始まり"></label>							
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="text-center">
						<btn class="btn btn-success rounded-pill col-3" onclick="applyFormFirstSettings()" th:text="もとに戻す"></btn>
						<input type="submit" value="決定" class="btn btn-primary rounded-pill col-3">
					</td>
				</tr>
								
			</table>
		</form>		
	</div>
</body>
</html>