<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.SettingMapper">

	<!-- Setting設定項目全件取得 -->
	<select id="findAllSettings" resultType="MSetting">
		select
			*
		from
			settings
		where
			user_id = ${userId}
	</select>
	
	<!-- Setting項目登録(1件毎) -->
	<insert id="insertOneSetting" >
		insert into
			settings
		(
			user_id,
			customize_key,
			customize_value
		) values (
			#{userId},
			#{customizeKey},
			#{customizeValue}
		)
	</insert>
		
	<!-- Setting項目更新(1件毎) -->
	<update id="updateOneSetting">
		update
			settings
		set
			customize_value = #{customizeValue}
		where
			user_id = #{userId}
			and customize_key = #{customizeKey}	
	</update>





</mapper>