<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.TagMapper">

	<!-- Tag複数件取得 -->
	<select id="findManyTag" resultType="MTag">
		select
			*
		from
			tags
		where
			user_id = #{userId}
			and is_deleted = 0
	</select>

	<!-- Tag1件登録 -->
	<insert id="insertOneTag">
		insert into
			tags
		(
			user_id,
			tag_name,
			tag_color,
			tag_icon
		) values (
			#{userId},
			#{tagName},
			#{tagColor},
			#{tagIcon}
		)
	</insert>








</mapper>